// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipe{
    width: 80%;
    border: solid 3px rgb(245, 183, 113);
    background-color: #fff;
    border-radius: 20px;
    margin-right: auto;
  margin-left: auto;
}

.base-image{
    display: flex;
    justify-content: space-between;
}

.base {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.recipe_img {
    width: 50%;
    padding-top: 5px;
    padding-right: 5px;
}

ul{
    padding-left: 10px;
    padding-right: 10px;
}

.content{
    border-bottom: 1px solid rgb(245, 183, 113);
    padding: 10px;
    margin-bottom: 20px;
}

.recipe_name{
    color: rgb(245, 183, 113);
    font-size: 20px;
}